* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	font-family: arial;
}
section {
	height: 100vh;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* height: 10vh; */
}
.header h1 {
	margin: 0px 50px;
	color: coral;
	font-style: italic;
	cursor: pointer;
}
.nav ul {
	margin: 0px 50px;
	padding: 15px 0;
}
.nav ul p,
.nav ul a {
	display: inline-flex;
	padding: 5px 14px;
	margin-left: 10px;
	font-weight: 700;
	font-size: 14px;
	list-style: none;
	text-decoration: none;
	border-radius: 5px;
	transition: all 0.2s;
	cursor: pointer;
}
.profile {
	/* background: #d481f5; */
	border: 2px solid #0f7fff;
	color: #0f7fff;
}
.logout {
	border: 2px solid #ff930f;
	color: #ff930f;
}

.nav ul .profile:hover {
	color: #fff;
	/* border: 2px solid transparent; */
	/* background: #0f7fff; */
	background: #575aff;

	background: linear-gradient(
		315deg,
		hsla(239, 100%, 67%, 1) 0%,
		hsla(187, 100%, 89%, 1) 100%
	);

	background: -moz-linear-gradient(
		315deg,
		hsla(239, 100%, 67%, 1) 0%,
		hsla(187, 100%, 89%, 1) 100%
	);

	background: -webkit-linear-gradient(
		315deg,
		hsla(239, 100%, 67%, 1) 0%,
		hsla(187, 100%, 89%, 1) 100%
	);

	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#595cff", endColorstr="#c6f8ff", GradientType=1 );
}
.nav ul .logout:hover {
	color: #fff;
	/* border: 2px solid #ff3a3a; */
	/* background: #ec4476; */
	background: #ff930f;

	background: linear-gradient(
		360deg,
		hsla(33, 100%, 53%, 1) 0%,
		hsla(58, 100%, 68%, 1) 100%
	);

	background: -moz-linear-gradient(
		360deg,
		hsla(33, 100%, 53%, 1) 0%,
		hsla(58, 100%, 68%, 1) 100%
	);

	background: -webkit-linear-gradient(
		360deg,
		hsla(33, 100%, 53%, 1) 0%,
		hsla(58, 100%, 68%, 1) 100%
	);

	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF930F", endColorstr="#FFF95B", GradientType=1 );
}

/* container */
.container {
	margin: 0;
	display: flex;
	height: 90vh;
}
.left {
	flex: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 90vh;
	border-top-right-radius: 10px;
	background: rgb(248, 240, 240);
}
.greet {
	margin: 20px 0;
}
.greet .user_name {
	padding-left: 5px;
	color: coral;
}
#todo_input {
	margin: 10px 0;
	width: 100%;
	padding: 10px;
	font-size: 18px;
	color: #000;
	cursor: pointer;
	border: 2px solid rgb(241, 150, 150);
	background: #fff;
	transition: all 0.2s ease-in-out;
}
#todo_input:focus,
#todo_input:hover {
	outline: 0;
	color: #000;
	border: 2px solid #f36666;
}

.right {
	flex: 1;
	height: 90vh;
}
