* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	font-family: arial;
}
*::-webkit-scrollbar {
	margin: 10px;
	width: 6px;
}
*::-webkit-scrollbar-thumb {
	background-color: rgb(189, 56, 241);
	outline: 1px solid slategrey;
	border-radius: 30px;
}
*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px #f777774d;
}

*::-webkit-scrollbar {
	-webkit-appearance: none;
	cursor: grab;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 90vh;
	/* height: 90vh; */
}
body {
	height: 100vh;
}
.profile_container {
	width: 35%;
	background: #ed217c;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	flex-direction: column;
	align-items: center;
	border-radius: 7px;
}
.profile_container h1 {
	margin: 5px;
	color: #f1e9e9;
}
.profile_show {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}
.profile_details {
	border-radius: 5px;
	background: #2d3047;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	height: 83%;
}
.txt_display {
	/* min-width: 50%; */
	max-width: fit-content;
	font-weight: 700;
	color: #1b998b;
	font-size: 17px;
	text-align: left;
}

.p_name,
.p_email,
.p_number,
.p_dob {
	color: #000;
}

.edit_profile_container,
.edit_password_container {
	margin-top: 30px;
}
a:active {
	color: rgb(45, 45, 255);
}
#editProfile,
#editPassword {
	background: rgb(53, 51, 51);
	text-decoration: none;
	padding: 10px;
	color: aliceblue;
}
#editPassword {
	background: #eb6d6d;
}
.profile_edit_btn {
	padding: 10px;
}

#pass_btn {
	height: 40px;
	background: coral;
	border: 2px solid coral;
	padding: 0px 10px;
	font-weight: 700;
	color: #fff;
	transition: all 0.2s;
	cursor: pointer;
	font-size: 15px;
}
#pass_btn:hover,
#pass_btn:focus {
	outline: 0;
	background: transparent;
	color: coral;
	border: 2px solid coral;
}
